detec.site, www.detec.site {
    root * /usr/share/caddy
    file_server

    handle /api/* {
        reverse_proxy detectserver-container:5000
    }

    @wwwHost host www.detec.site
    redir @wwwHost https://detec.site{uri}
}
